body {background-color: lightblue; opacity: 0.3;}
      body {font-family: Verdana, sans-serif;}
      h1 {
        text-align: center;
        font-family:Georgia, serif;
      }
      h2 {
        text-align: right;
        font-family: Georgia, serif;
      }
      h3 {
        text-align: center;
        text-decoration-line: overline;
        text-decoration-color: black;
      }
      h4 {
        margin-right: 150px;
        margin-left: 150px;
        text-align: left;
        font-family: Georgia, serif;
      }
      p {
         margin-right: 150px;
         margin-left: 150px;
         text-indent: 20px;
      }
      img{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
        height: 75%;
      }
      h5 {
        text-align: center;
        font-family: Verdana, sans-serif;
      }
      video {
        width: 70%;
        height: auto;
        display: block;
        margin-left: auto;
        margin-right: auto;
      }
    .row {
       display: flex;
      }

    .column {
      flex: 33.33%;
      padding: 0px;
      }
  @media screen and (max-width: 500px) {
    .column {
      width: 100%;
    }
  }
