body {background-color: lightgrey;}
      body {font-family: Verdana, sans-serif;}
      h1 {
        text-align: center;
        font-family:Georgia, serif;
      }
      h2 {
        text-align: right;
        font-family: Georgia, serif;
      }
      h3 {
        text-align: center;
        text-decoration-line: overline;
        text-decoration-color: black;
      }
      h4 {
        text-align: left;
        font-family: Georgia, serif;
      }
      p {
      
         text-indent: 20px;
      }
      pre {
        display: block;
        margin-left: auto;
        margin right: auto;
      }
      img{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
        height: 75%;
      }
      h5 {
        text-align: center;
        font-family: Verdana, sans-serif;
      }
      video {
        width: 70%;
        height: auto;
        display: block;
        margin-left: auto;
        margin-right: auto;
      }
     .column {
       float: center;
       width: 33%;
       padding: 4px;
      }
    .row::after {
      content: "";
      clear: both;
      display: table;
     }
  
