   body {background-color: lightgrey;}
      body {font-family: Verdana, sans-serif;}
      h2 {
        text-align: right;
        font-family: Georgia, serif;
      }
      h3 {
        text-align: center;
        text-decoration-line: overline;
        text-decoration-color: black;
      }
      h4 {
        text-align: center;
        font-family: Georgia, serif;
      }
      p {
        text-indent: 20px;
      }
      table, th, td {
        border: 1px solid;
        width: 30%;
        margin-left: auto;
        margin-right: auto;
      }
      img{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
        height: 75%;
      }
      h5 {
        text-align: center;
        font-family: Verdana, sans-serif;
      }
  
